.header-background {
  background: linear-gradient(88.27deg, #574ae8 0%, #3ea1db 100%);
  display: flex;
  justify-content: space-around;
  height: 250px;
}

.header-text {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  margin-top: 40px;
}
