.header-background {
  background: linear-gradient(88.27deg, #574ae8 0%, #3ea1db 100%);
  height: 250px;
  margin-bottom: 100px;
}

.header-texts {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  max-width: 920px;
  padding: 40px 10px;
}

.title,
.subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
}

.input-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}

.icon {
  position: absolute;
  height: 100%;
  left: 520px;
  top: 15px;
}

.search-bar {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border-style: hidden;
  margin-top: 30px;
  height: 65px;
  width: 900px;
}

input[type=text], ::placeholder {
  color: #ffffff;
  opacity: 1;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
}

input[type=text] {
  padding-left: 65px;
}

::placeholder {
  opacity: 0.5;
}

:focus {
  outline: none;
}

@media only screen and (max-width: 950px) {
  .header-texts {
    padding: 40px 20px;
  }
}
